---
// component imports
import MainLayout from "../layouts/MainLayout.astro";
---
<MainLayout title="About Page">
  <section class="" aria-label="About Me">
   <!-- <img src="/images/headshot.jpg" alt="My headshot" width="200" height="330">  -->
    <div class="w-full py-4">
      <h3 class="py-2 font-bold text-3xl">About Me:</h3>
      <p class="text-xl">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique autem laboriosam repellat velit suscipit dignissimos, eaque, quas vero veniam, minima voluptate molestias? Placeat quo sequi doloremque voluptate, sint voluptas quidem?</p>
    </div>
  </section>
</MainLayout>
