---
// component imports
import MainLayout from "../layouts/MainLayout.astro";
---
<MainLayout title="Page Not Found">
  <section class="" aria-label="About Me">
   <img src="/images/headshot.jpg" alt="My headshot" width="200" height="330"> 
    <div>
      <h1 class="">My Blog</h1>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas quod debitis, ipsam adipisci praesentium cumque maxime eaque quae mollitia facere.</p>
      <!-- <Link -->
      <!--   href="mailto:example@gmail.com" -->
      <!--   style="primary" -->
      <!--   text="Contact Me" -->
      <!-- /> -->
    </div>
  </section>
</MainLayout>
