---
import MainLayout from "../layouts/MainLayout.astro";
---

<!-- <html lang="en" class="scroll-smooth"> -->
	<!-- <head> -->
	<!-- 	<meta charset="utf-8" /> -->
	<!-- 	<link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
	<!-- 	<meta name="viewport" content="width=device-width" /> -->
	<!-- 	<meta name="generator" content={Astro.generator} /> -->
	<!-- 	<title>zach.dev</title> -->
	<!-- </head> -->
	<!-- <body class="mocha bg-crust text-text font-mono antialiased"> -->
    
    <MainLayout  title="Zach McLean" >
      <div class="divide-y divide-gray-200">
        <div class="space-y-2 pb-8 pt-6 md:space-y-5">
          <h1 class="font-extrabold text-lavender text-3xl 
                     leading-9 tracking-tight sm:text-4xl 
                     sm:leading-10 md:leading-14 md:text-6xl"
            >Latest
          </h1>
          <!-- <h4 class="text-lg"><i>CS Student, Web Developer, Vim Enthusiast, Guitar Player</i></h4> -->
          <p class="text-lg leading-7 text-text">
            My personal site, mostly a blog of my random thoughts.
            RSS feed available
            <a href="/" class="font-bold text-green hover:text-teal">here.</a>
            Shorter posts written on 
            <a href="/" class="font-bold text-green hover:text-teal">Mastodon.</a>
          </p>
        </div>
        <div class="">
          <h3 class="font-bold text-3xl">Recent Posts:</h3>

          <p>blog 1</p>
          <p>blog 2</p>
          <p>blog 3</p>
          <p>blog 4</p>
          <p>blog 5</p>

        </div>
        <div class="">
          <h3 class="text-3xl">Around the web:</h3>
          <ul>
            <li><p>twitter</p></li>
            <li><p>github</p></li>
            <li><p>linkedin</p></li>
            <li><p>zachmclean.xyz</p></li>
          </ul>
        </div>
      </div>
    </MainLayout>
	<!-- </body> -->
<!-- </html> -->
