---
import MainLayout from "../layouts/MainLayout.astro";
const str = 'Zach'
const age = 25
const me = {
  name: str,
  age: age,
  favorites: ["Coding", "Guitar", "Lauren"]
}
const isVisible = false;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
    
    <MainLayout title="my home page">
      <h1>index</h1>
    </MainLayout>
	</body>
</html>
