---

---

<footer class="mocha bg-base w-full text-center text-white">
  <small>
    Copyright &copy; 
    <span id="copyright"></span> | All 
    rights reserved
  </small>
</footer>


<script>
  document.querySelector("#copyright").textContent = new Date().getFullYear().toString();
</script>
