---
import {Icon} from 'astro-icon/components';
import navData from '../data/navData.js'
---

<nav class="flex items-center justify-between py-10 font-sans" aria-label="Primary">
  <div>
    <a aria-label="Zach McLean" href="/" class="font-semibold">
      <div class="hidden h-6 font-semibold sm:block text-2xl">Zach McLean</div>
    </a>
  </div>
  <div class="flex items-center leading-5 space-x-4 sm:space-x-6">
    {navData.map((item) => (
    <a class="hidden sm:block font-medium font-semibold text-green hover:text-mauve" href={item.path}>{item.name}</a>
    ))}
  </div>
</nav>
