---
import {Icon} from 'astro-icon/components';
import navData from '../data/navData.js'
---

<nav class="mocha w-full" aria-label="Primary">
  <div class="bg-base text-pink max-w-6xl mx-auto px-2 py-8 flex items-center justify-around">
    <!-- <a href="/" class="logomark", aria-label="Go home"> -->
    <!--   <Icon width={60} name="logomark" /> -->
    <!-- </a> -->
    <a href="/" class=" text-red font-bold font-mono">
      <h3 class="text-xl"><i>zachmclean.dev</i></h3>
    </a>
    <ul class="text-red font-mono font-bold flex justify-between">
      {navData.map((item) => (
      <a class="px-2" href={item.path}>{item.name}</a>
      ))}
    </ul>
  </div>
</nav>
