---
import MainLayout from './MainLayout.astro'

const { frontmatter } = Astro.props;
console.log(frontmatter);
---

<MainLayout title="Blog Page" description='All Blogs'>
  <header>
    <div class="">
      <!--  Container-->
    </div>
    <img src="" alt="">
  </header>
  <div>
    <!--  Content -->
    <div>
      <slot/>
    </div>
    <div><!--Sidebar --></div>
  </div>
</MainLayout>
