---
import MainLayout from './MainLayout.astro'

const { frontmatter } = Astro.props;
console.log(frontmatter);

const {title, description, date, category, author, image} = frontmatter;
---

<MainLayout title="Blog Page">
  <header class="">
    <div class="">
      <!--  Container-->
    </div>
    <img src="" alt="">
  </header>
  <div>
    <!--  Content -->
    <div>
      <slot/>
    </div>
    <div><!--Sidebar --></div>
  </div>
</MainLayout>
