---
import MainHead from "./MainHead.astro"
import Footer from "../components/Footer.astro"
import Nav from "../components/Nav.astro"
interface Props {
  title: string,
  // description: string,
}

// style import
// import "../styles/global.css"

const {
  title = "My Dev Blog", 
  // description = "Default Description"
} = Astro.props as Props
---

<html lang="en" class="scroll-smooth">
  <MainHead {title} />
	<body class="mocha bg-crust text-text antialiased font-sans">
    <section class="mx-auto max-w-3xl px-4 sm:px-6 xl:max-w-5xl xl:px-0">
      <div class="flex h-screen flex-col justify-between">
        <Nav/>
          <main class="mb-auto">
            <slot>default value</slot> 
          </main>
        <Footer/>
      </div>
    </section>
	</body>
</html>
